[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/sh -c \
	'/usr/bin/vncserver -kill :$(echo %I | cut -f2 -d:) > /dev/null 2>&1 || :'
ExecStart=/bin/sh -c \
	'/sbin/runuser -l $(echo %I | cut -f1 -d:) -c \
	"/usr/bin/vncserver -fg -geometry 1024x768 \
	:$(echo %I | cut -f2 -d:)" || :'
ExecStop=/bin/sh -c \
	'/sbin/runuser -l $(echo %I | cut -f1 -d:) -c \
	"/usr/bin/vncserver -kill :$(echo %I | cut -f2 -d:)" || :'

[Install]
WantedBy=multi-user.target

